<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About HostelHub</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Sans+JP:wght@300;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel='stylesheet' type='text/css' href='./css/abouthostel.css'>
  
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap" rel="stylesheet">
  
  </head>
<body>

<div id="abtop" >
<h1 id="abh1" >--  HostelHub    --</h1>
</div>
<div id="abhead"  >

<div id="abbody" ><br><h1 id="x"> ABOUT </h1><h2>Holla Hostelers!!</h2><span>        Your one-step solution to all your hostel problems.<br>Want to stay organised for your hostel life? Then this is the place for you.<br>We have organised everything a hosteler ever needs, so that you can have access to them in one place.<br>This is extremely helpful for those freshmen who are just starting out their hostel life.<br>Remember Hostelhub-one web-app to solve all those problems.<br>Let's make your hostel life more memorable :)<br>
</span><br></div>
<br>
<span>
<a href="/dashboard" style="margin-left: 47%;"><button type="button" class="btn btn-secondary">Home</button></a>

</span>
</div>
<img src="/hostel/thanks.jpg" id="thanks" >
</body>
</html>