<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
  <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/homehostel.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Sans+JP:wght@300;500&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Teko&display=swap&family=Merriweather:ital,wght@1,700&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>

<body>
  <nav class="navbar navbar-expand-lg" id="top">

    <div id="heading" style="width: 100%;"> <img src="hostel/logo3.png" id="logo3">Hostel<img src="hostel/logo4.png"
        id="logo4"></div>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <button type="button" class="btn" id="x" style="margin-right: 3%;"><a class="nav-link" href="/logout"><span
              id="t"><i class="fas fa-sign-out-alt" aria-hidden="true"
                style="display: inline;"></i>LogOut</span></a></button>

      </div>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-expand-lg sticky-top" id="headtop">
        <div id="pack">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
        <button type="button" class="btn " id="ht"><a href="./hostel/messmenu.webp" class="nav-link"><span
          id="t"><i class="fas fa-hamburger" aria-hidden="true" style="display: inline;"></i><strong> MESS MENU</strong></span></a></button>
        <button type="button" class="btn " id="ht"><a href="./hostel/BIT MESRA Dean  Associate Deans Wardens.pdf" class="nav-link"><span
          id="t"><i class="fas fa-address-card" aria-hidden="true" style="display: inline;"></i><strong> HOSTEL WARDENS</strong></span></a></button>
        <button type="button" class="btn " id="ht"><a href="mailto:bithostelhub@gmail.com" class="nav-link"><span
          id="t"><i class="fa fa-envelope" aria-hidden="true" style="display: inline;"></i><strong> CONTACT</strong></span></a></button>
          </div>
          </div>
        </div>

      </nav> -->
  <div class="dropdown" style="background-color: #142034;padding-left: 20px;" id="hide">
    <img src="hostel/logo3.png" id="logo3" style="margin-bottom: 4px;"><span style="color: #F1F1F1;
        font-size: 44px;
        font-family: 'Teko', sans-serif;"> Hostel</span><img src="hostel/logo4.png" id="logo4">

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"
      style="background-color:#142034 ; display: inline;padding: 3px 3px;height: 38px;float: right;margin-top: 18px;margin-right: 3px;">
      <i class="fa fa-bars" style="font-size: 30px;"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <!-- <a class="dropdown-item" href="./hostel/messmenu.webp"><i class="fas fa-hamburger" aria-hidden="true" style="display: inline;"></i><strong> MESS MENU</strong></span></a>
          <a class="dropdown-item" href="./hostel/BIT MESRA Dean  Associate Deans Wardens.pdf"><i class="fas fa-address-card" aria-hidden="true" style="display: inline;"></i><strong> HOSTEL WARDENS</strong></a>
          <a class="dropdown-item" href="mailto:bithostelhub@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="display: inline;"></i><strong> CONTACT</strong></span></a> -->
      <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"
          style="display: inline;"></i><strong> LOGOUT</strong></span></a>
    </div>
  </div>

  <div id="adjust">
    <div class="flex-container">
      <div id="bo">
        <a href="/adminverifyuser" class="btn btn-squared-default btn-info" id="box">
          <div id="inside"><i class="fa fa-user" aria-hidden="true"></i> </div>
          <br>
          <h1 id="txt"> Verify Users</h1>
        </a>
      </div>
      <div id="bo">
        <a href="/adminmessattendance" class="btn btn-squared-default btn-info" id="box">
          <div id="inside"> <i class="fas fa-calendar-alt "></i></div>
          <br>
          <h1 id="txt"> MESS ATTENDANCE</h1>
        </a>
      </div>
      <div id="bo">
        <a href="/adminmesscomplaint" class="btn btn-squared-default btn-info" id="box">
          <div id="inside"> <i class="fa fa-hand-stop-o "></i></div>
          <br>
          <h1 id="txt"> MESS COMPLAINT</h1>
        </a>
      </div>

      <div id="bo">
        <a href="/adminpollresults" class="btn btn-squared-default btn-info" id="box">
          <div id="inside"> <i class="fas fa-poll "></i> </div>
          <br>
          <h1 id="txt"> POLL RESULTS</h1>
        </a>
      </div>
      <div id="bo">
        <a href="/adminhostelattendance" class="btn btn-squared-default btn-info" id="box">
          <div id="inside"> <i class="fa fa-calendar "></i></div>
          <br>
          <h1 id="txt"> HOSTEL ATTENDANCE</h1>
        </a>
      </div>
      <div id="bo">
        <a href="/adminhostelcomplaint" class="btn btn-squared-default btn-info" id="box">
          <div id="inside"> <i class="fa fa-hand-pointer-o"></i></div>
          <br>
          <h1 id="txt"> HOSTEL COMPLAINT</h1>
        </a>
      </div>

    </div>
  </div>

  <div id="bottomb">

    <a href="/adminfeedback"> <button type="button" class="but"
        style="border-radius: 60%;height: 60px;width: 120px;background-color: white;color: #142034;border-color: #142034;border: 0px;text-decoration: underline;"><strong>RECEIVED
          FEEDBACKS</strong></button></a>
  </div>

  <script type='text/javascript' src='./homehostel.js'></script>
</body>

</html>