<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Complaint Section</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/homestyle.css"> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Teko&display=swap&family=Merriweather:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="/css/logsignin.css"> -->
    <link rel='stylesheet' type='text/css' href='/css/head.css'>
    <link rel='stylesheet' type='text/css' href='/css/complaint.css'>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body style="background-color: #250542;">



    <button id="click"><a href="/dashboard">
            <i class="fas fa-arrow-alt-circle-left"></i></a></button>
    <form action="/complaint" method="POST" class="ui form container" style="margin-top: 2.5%;margin-bottom: 30px;">
        <h3 style="text-align: center;"><%= message %></h3>
        <div class="field">
            <label style="color:#ff3d55 ;" id="title"><strong>Hostel Complaint Title:</strong></strong>
            </label>
            <input type="text" name="title" placeholder="Issue Title" id="tbox">
        </div>
        <div class="field">
            <label style="color:#ff3d55 ;" id="box"><strong>Complaint Box:</strong></label>
            <textarea name="body" placeholder="Write your complaint in brief" id="cbox"></textarea>
        </div>
        <button type="submit" class="btn btn-light"><strong>Submit</strong></button>

    </form>



    <%- include('partials/footer') %>