<%- include('partials/homeheader') %>

<nav class="navbar navbar-expand-lg sticky-top" id="top" style="width: 100%;">

  <div id="heading"> <img src="hostel/logo1.png" id="logo1">Hostel<img src="hostel/logo2.png"
      id="logo2"></div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <!-- <button type="button" class="btn btn-outline-primary" style="margin-right: 3%;"><a class="nav-link"><span
            id="t">LogIn</span></a></button> -->
        
      <button type="button" class="btn btn-outline-primary" id="topbut"><a class="nav-link" href="/register"><div
            id="t"><i class="fas fa-user-plus" id="tt"></i>Register</div></a></button>
          
    </div>
  </div>
  <div id="unshow">
  <button type="button" class="btn btn-outline-primary" id="topbut"><a class="nav-link" href="/register"><div
    id="t"><i class="fas fa-user-plus" id="tt"></i>Register</div></a></button>
  </div>
</nav>


<div id="middle" style="">

  <div class="wrapper" id='frm' style="border-radius: 10%;">
    <form action="/home" method="POST">
      <h2>Login</h2>
      <h1 id="log">LOGIN</h1>
      <br>
      <div class="text-center inputfield terms" style="color: red;">
        <p></p><%= message %>
      </div>
      <div class="form">

        <div class="inputfield">
          <label style="color: #515b7c;"><strong>Email Address</strong></label>
          <input type="email" class="input" name='username' required='required'
            value="<%= user==null?'':user.username %>">
        </div>
        <div class="inputfield">
          <label style="color: #515b7c;"><strong>Password</strong></label>
          <input type="password" class="input" name="password" required='required'>
        </div>
        <div class="inputfield">
          <input type="submit" value="Log In" class="btn">
          <!-- <button type="submit" class="btn btn-primary btn-lg btn-block" value="Login">Log in</button> -->
        </div>
      </div>
    </form>
    <div class="text-center inputfield terms" style="color: #454646;">
      <p></p> <a href="/forgotpassword" style="color:  #1A54A5;">Forgot password?<p></a>
    </div>
    <div class="text-center" style="color: #454646;">Do not have an account? <a href="/register"
      style="color: #1D69CF;">Sign up</a></div>
  </div>
</div>

<header class="header show-on-scroll">
  <div id="about"
    style="border-style: solid; border-width: 5px; border-color: #131D47;">
    <br>
    <div class="head">Why HostelHub?</div>
    <p>
      Your one-step solution to all your hostel problems.Want to stay organised for your hostel life?<br>Then this is
      the place for you.We have organised everything a hosteler ever needs, so that you can have access to them in one
      place.<br>Remember Hostelhub-one web-app to solve all those problems.
    </p>
  </div>
</header>
<div id="back">
  <div class="contact">
    <header class="header show-on-scroll">
      <div class="inline-photo show-on-scroll" id="contop"
        style="border-style: groove; border-width: 5px; border-color: #131D47;">
        <img src="./hostel/contact.png" id="ctop">©
      </div>
    </header>
    <div id="conbot">Follow/Contact Us:</div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="./hostel/dots.jpeg" class="images"><span id="name">Lakshya Gupta :</span>
          <a href="https://www.linkedin.com/in/lakshya-gupta-415b691b0/" target="_blank">
            <img src="hostel/linkedin1.jpg" class="images" id="ll" />
          </a>
          <a href="https://twitter.com/lakshyag123" target="_blank">
            <img src="hostel/twitter.png" class="images" id="tl" />
          </a>
          <a href="https://github.com/lakshyag123" target="_blank">
            <img src="hostel/github.webp" class="images" id="gl" />
          </a>
          <a href="https://www.facebook.com/lakshya1stgupta" target="_blank">
            <img src="hostel/fb.png" class="images" id="fl" />
          </a>
          <a href="https://www.instagram.com/lakshyag123/?hl=en" target="_blank">
            <img src="hostel/insta.jpg" class="images" id="il" />
          </a>
        </div>
        <div class="col-sm">
          <img src="hostel/whatsapp.webp" class="images">
          <span id="num"><strong>: +91 800-31-32-907</strong></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img src="./hostel/dots.jpeg" class="images"><span id="name">Prakhar Gupta :</span>
          <a href="http://www.linkedin.com/in/prakharg200" target="_blank">
            <img src="hostel/linkedin1.jpg" class="images" id="l1" />
          </a>
          <a href="https://twitter.com/Prakhargupta200" target="_blank">
            <img src="hostel/twitter.png" class="images" id="l2" />
          </a>
          <a href="https://github.com/prakhargupta200" target="_blank">
            <img src="hostel/github.webp" class="images" id="l3" />
          </a>
          <a href="https://www.facebook.com/prakhar.gupta.1000469" target="_blank">
            <img src="hostel/fb.png" class="images" id="l4" />
          </a>
          <a href="https://www.instagram.com/prakhargupta200/" target="_blank">
            <img src="hostel/insta.jpg" class="images" id="l5" />
          </a>
        </div>
        <div class="col-sm">
          <img src="hostel/whatsapp.webp" class="images">
          <span id="num"><strong>: +91 992-99-93-723</strong></span>
        </div>

      </div>
      <div class="row">
        <div class="col-sm">
          <img src="./hostel/dots.jpeg" class="images"><span id="name" style="margin-right: 2%;">Saketh Pabba :</span>
          <a href="https://www.linkedin.com/in/saketh-pabba-783a94194" target="_blank">
            <img src="hostel/linkedin1.jpg" class="images" id="l6" />
          </a>
          <a href="https://twitter.com/PabbaSaketh?s=09" target="_blank">
            <img src="hostel/twitter.png" class="images" id="l7" />
          </a>
          <a href="https://github.com/sakpab2602" target="_blank">
            <img src="hostel/github.webp" class="images" id="l8" />
          </a>
          <a href="https://m.facebook.com/saketh.pabba.5" target="_blank">
            <img src="hostel/fb.png" class="images" id="l9" />
          </a>
          <a href="https://www.instagram.com/sak_pab_2602/" target="_blank">
            <img src="hostel/insta.jpg" class="images" id="l10" />
          </a>
        </div>
        <div class="col-sm">
          <img src="hostel/whatsapp.webp" class="images">
          <span id="num"><strong>: +91 814-02-65-638</strong></span>
        </div>
      </div>
      <br>
    </div>
    <script type='text/javascript' src='./home.js'></script>
    

    <%- include('partials/footer') %>