<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess Attendance</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/homestyle.css"> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Teko&display=swap&family=Merriweather:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="/css/logsignin.css"> -->
    <link rel='stylesheet' type='text/css' href='/css/head.css'>
    <!-- <link rel='stylesheet' type='text/css' href='/css/complaint.css'>  -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/feedback.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/messattend.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/JavaScript" src="https://MomentJS.com/downloads/moment.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>

</head>

<body onload="startTime()" style="background-color: #fcfff6;">
    <a href="/dashboard">
        <i class="fa fa-arrow-circle-left" aria-hidden="true" id="im"></i></a>
    <!-- <div id="daa"> -->
    <div id="daa">
        <span id="dd"> Date : </span>
        <div style="display: inline;" id="todaysdate"></div>
    </div>
    <div id="dad">
        <span id="dd">Time : </span>
        <div style="display: inline;" id="time"></div>
    </div>
    <script type="text/JavaScript">
           var a = moment().format('MMMM Do YYYY');
           
           document.getElementById("todaysdate").innerHTML = a;
           $( function() {
    $( "input" ).checkboxradio();
  } );
        </script>

    <form action="/messattend" method="POST" class="ui form container" style="margin-top: 0%;text-align: center;">
        <div class="widget">
            <% if(message!=''){ %>
            <h3 style="text-align: center;" id="resp"><%= message %></h3>
            <% } %>

            <h2 style="float: left;color: #515b7c;" id="clime">Click Here:</h2>
            <div style="display: inline;">
                <fieldset style="display: inline;float: left;">
                    <label for="radio-1" id="box1">Mess-In-time</label>
                    <input type="radio" name="radio_1" id="radio-1" value="messintime">


                </fieldset>
            </div>
        </div>

        <div id="bum">
            <button type="submit" class="btn btn-light " id="me"><strong>Submit</strong></button>
        </div>
    </form>


    <%- include('partials/footer') %>