<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-3">Registration successful! The account has not been activated yet and will be activated
            within 24 hours after the verification of your identity</h1>
        <p class="secret-text">Please check out later!</p>
        <hr>
        <a class="btn btn-dark btn-lg" href="/" role="button">Go back</a>
    </div>
</div>

<%- include('partials/footer') %>
