<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-3">Login unsuccessful</h1>
        <p class="secret-text">The email or password that you typed was incorrect, please try again</p>
        <hr>
        <a class="btn btn-dark btn-lg" href="/" role="button">Try again</a>
    </div>
</div>

<%- include('partials/footer') %>