body {
    padding: 0px;
    margin-top: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    
}
#top{
    background: url(/hostel/polltop.png);
    height: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.panel-body:not(.two-col) {
    padding: 0px
}

.glyphicon {
    margin-right: 5px;
}

.glyphicon-new-window {
    margin-left: 5px;
}

.panel-body .radio, .panel-body .checkbox {
    margin-top: 5px;
    margin-bottom: 0px;
}

.panel-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.panel-body .radio label, .panel-body .checkbox label {
    display: block;
}

.alignright {
    float: right;
}

#backpoll{
    font-size: 100px;color: #ef6855;
    margin-top: 5px;margin-right: 5px;
    float: right;
}
#vote-btn{
    margin-left: 40%;
    font-size: 30px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px){
    .block{
        width: 400px;
        height: 500px;
        margin-left: 40%;
        margin-right: 90%;
    }
    h4{
        height: 30px;
    }
    .topic{
        font-size: 1.5em;
    }
    .type{
        font-size: 1.3em;
    }
    .panel{
        width: 400px; 
        height: 400px;
        font-size: 1.6em;
    }
    .panel-body{
        height: 300px;
    }
    .panel-heading{
        height: 50px;
    }
    .list-group-item{
        height: 100px;
    }
    #vote-btn{
        margin-left: 40%;
        font-size: 50px;
        margin-bottom: 50px;
    }
}
