body{
    background-color: white;

}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 10%;*/
    margin-left: 11%; 

  }
  #bo{
      margin-right: 10%;
      /* margin-left: 7%; */
  }
#top{
    height: 80px;
    background: #142034;
    padding-left: 3%;
}
#headtop{
    height: 47px;
    background: #4c74b9;
}
#logo3{
    width: 80px;
    height: 50px;
    animation-name: hel1;
    animation-duration: 0.5s;
   animation-fill-mode: forwards;
   position: relative;
}
@keyframes hel1 {
    0% {
        top: -250px;
    }
    100% {
        top: 0px;
    }
    
}
.btn{
    background-color: #4c74b9;
}
#heading{
    color: #F1F1F1;
    font-size: 55px;
    font-family: 'Teko', sans-serif;
}
#logo4{
    width: 80px;
    height: 45px;
    animation-name: hel;
    animation-duration: 2s;
   animation-fill-mode: forwards;
   position: relative;
   transform: rotateZ(-7deg);
}

@keyframes hel {
    0% {
        right: -150px;
    }

    100% {
        right: 0px;
    }
    
}
#t{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 17px;
}
.btn{
    height: 45px;
}
.btn-squared-default
{
    width: 300px !important;
    height: 250px !important;
    font-size: 10px;
    padding-top: 20px;
    margin-top: 20px;
}

.btn-squared-default:hover
{
    border: 3px solid white;
    font-weight: 800;
}
.but:hover{
    border: 0px solid;
}
#txt{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 22px;
}
#box{
    border-radius: 10%;
}
#adjust{
    padding-top: 2%;
    background-color: #e3e8f1;
    padding-bottom: 2%;
}
#pack{
    margin-left: auto;
}
#bottomb{
    height: 70px;
    text-align: center;
    padding-top: 0.5%;
}
#inside{
    font-size: 100px;
}
@media screen and (min-width: 1000px){
    #hide{
        display: none;
    }
}
@media screen and (max-width: 600px){
    /* .flex-container{
        margin-left: 18%;
    } */
    #bo{
        margin-left: 14%;
    }
}
@media screen and (min-width: 1000px){
    /* .flex-container{
        margin-left: 20%;
    } */
    .flex-container{
        margin-left: 11.2%;
    }
}
@media screen and (max-width: 1000px){
    .flex-container{
        margin-left: 8%;
    }
}
@media screen and (max-width: 1460px){
    /* .flex-container{
        margin-left: 20%;
    } */
    /* .flex-container{
        margin-left: 11.3%;
    } */
    /* #logo3{
        width: 100px;
        height: 70px;
    }
    #logo4{
        width: 90px;
        height: 30px;
    } */
    #heading{
        font-size: 65px;
    }
    #inside{
        font-size: 100px;
    }
    .btn-squared-default
{
    width: 260px !important;
    height: 240px !important;
    font-size: 7px;
    padding-top: 15px;
    margin-top: 10px;
}
}

@media screen and (max-width: 1000px){
    #headtop{
        display: none;
    }
    #top{
        display: none;
    }
   
    #logo3{
        width: 50px;
        height: 30px;
    }
    #logo4{
        width: 60px;
        height: 30px;
    }
    #heading{
        font-size: 40px;
    }
    #inside{
        font-size: 80px;
    }
    .btn-squared-default
{
    width: 230px !important;
    height: 210px !important;
    font-size: 5px;
    padding-top: 15px;
    margin-top: 10px;
}
}
.dropdown-toggle::after {
    display:none;
}

