#best{
    background-image: url(/hostel/studentdetail.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#best1{
    background-image: url(/hostel/complaintdetail.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#best2{
    background-image: url(/hostel/feed2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
